name: Build and Deploy Frontend

on:
  push:
    branches:
      - main
      - master
  workflow_dispatch:

jobs:
  build:
    runs-on: ubuntu-latest
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Setup Node.js
        uses: actions/setup-node@v4
        with:
          node-version: '24.x'
          cache: 'npm'

      - name: Install Dependencies
        run: npm ci

      - name: Build React Frontend
        run: npm run build

      - name: Upload build artifact
        uses: actions/upload-artifact@v4
        with:
          name: dist
          path: dist

  deploy:
    runs-on: ubuntu-latest
    needs: build
    environment: production
    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Download build artifact
        uses: actions/download-artifact@v4
        with:
          name: dist
          path: dist

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v3

      - name: Log in to Docker Hub
        uses: docker/login-action@v3
        with:
          username: ${{ secrets.DOCKER_USER }}
          password: ${{ secrets.DOCKER_TOKEN }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v5
        with:
          context: .
          file: ./Dockerfile
          push: true
          tags: |
            ${{ secrets.DOCKER_USER }}/kraken-frontend:1.0.${{ github.run_number }}
            ${{ secrets.DOCKER_USER }}/kraken-frontend:latest

      - name: Install and configure ArgoCD
        run: |
          URL=https://github.com/argoproj/argo-cd/releases/latest/download/argocd-linux-amd64
          sudo curl --insecure -sSL -o /usr/local/bin/argocd $URL
          sudo chmod +x /usr/local/bin/argocd
          argocd login kraken-plugins.com --insecure --username ${{ secrets.ARGOCD_USERNAME }} --password ${{ secrets.ARGOCD_PASSWORD }} --grpc-web --grpc-web-root-path /argocd

      - name: Deploy to Production
        run: |
          VERSION_TAG="1.0.${{ github.run_number }}"
          argocd app set kraken-frontend -p image.tag=$VERSION_TAG --grpc-web
          argocd app sync kraken-frontend --prune
          argocd app wait kraken-frontend
